version: '3.5'

services:

  api:
    build:
      context: .
      dockerfile: ./tools/Dockerfile-gradle
    command: gradle "bootRun"
    volumes:
      - ./:/app
      - /app/.gradle
    ports:
      - 9001:9001
